{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    ["prismjs", {
      "languages": ["glsl"],
      "plugins": ["line-numbers"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}
